@media screen and (max-width: 600px) {
    :root {
        --primary-color: #FF206e;
        --secondary-color:#08B2E3;
        --color-three: #56ca7e;
        --color-four: #fff;
        --color-five: #000;
    }

    .headerGrid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding-bottom: 1rem;
    }

    .headerGrid h1 {
        padding-top: 0;
    }

    .headerGrid p {
        display: none;
    }

    .contentGrid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 0.5fr 1fr 1fr;
    }

    .locations {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .orderHome {
        grid-column: 1/2;
        grid-row: 3/4;
        margin-left: 1rem;
    }

    .orderNow {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .weather {
        grid-column: 1/2;
        grid-row: 4/5;
        margin-bottom: 10rem;
        margin-left: 1rem;
    }

    form {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    iframe {
        width: 40%;
        height: 10rem;
        margin-bottom: 5rem;
    }

    footer {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 0.5fr 1fr;
        margin-top: -5px;
    }

    footer a {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    footer .social {
        padding-top: 1rem;
        grid-row: 2/3;
    }


    #fruitContainer {
        text-align: center;
        display: grid;
        grid-template-columns: 0.5fr 0.5fr;
    }

    .confirminfo {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}